<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="edu.eci.cvds.sampleprj.dao.myBatis.mappers.ElementoMapper">

  <resultMap type='Elemento' id='ElementoResult'>
    <id property='idElemento' column='idElemento' />
    <result property='tipo' column='tipo' />
    <result property='informacion' column='informacion' />
    <result property='equipo' column='equipo' />
  </resultMap>

 
    <insert id="añadirElemento" parameterType="map">
        INSERT INTO elemento (tipo, informacion, equipo)
        VALUES (#{elemento.tipo},#{elemento.informacion}, #{elemento.equipo})
    </insert>

	
</mapper>	
	