<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="edu.eci.cvds.sampleprj.dao.myBatis.mappers.EquipoMapper">

  <resultMap type='Equipo' id='EquipoResult'>
    <id property='idEquipo' column='idEquipo' />
    <result property='ip' column='ip' />
    <result property='informacion' column='informacion' />
    <result property='laboratorio' column='laboratorio' />
  </resultMap>
	
	<insert id="añadirEquipo" parameterType="map">
        INSERT INTO Equipo (IdEquipo, Ip, Informacion, Laboratorio)
        VALUES (#{Equipo.IdEquipo},#{Equipo.Ip}, #{Equipo.Informacion}, #{Equipo.Laboratorio})
    </insert>

</mapper>