<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="edu.eci.cvds.sampleprj.dao.myBatis.mappers.UsuarioMapper">

  <resultMap type='Usuario' id='UsuarioResult'>
    <id property='documento' column='documento' />
    <result property='nombre' column='nombre' />
     <result property='apellido' column='apellido' />
     <result property='correo' column='correo' />
    <result property='telefono' column='telefono' />
    <result property='rol' column='rol' />
    <result property='contraseña' column='contraseña' />
  </resultMap>

   <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult">
    SELECT  * FROM Personal
  </select>
  
  <select id="guardarUsuario" resultMap="UsuarioResult">
        SELECT *
        FROM Personal
        WHERE Documento=#{Documento} AND Contraseña=#{Contraseña}
    </select>
  </mapper>